<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Band-VenueTracker</title>
  </head>
  <body>
    <h1>Band-Venue Tracker</h1>
    <h2><a href="/venues">View dVenues</a></h2>
    <h2><a href="/bands">View Bands</a></h2>
  </body>
  </html>
  </body>
</html>
