<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Venue Form</title>
  </head>
  <body>
    <h1>New Venue</h1>
    <form action="/venues" method="post">
      <label for="venuesName">Venue Name</label>
      <input id="venuesName" name="venuesName" type="text">
      <button type="submit">Add New Venues</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/venues">Add New Venue</a></p>
  </body>
</html>
