<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VenueTracker</title>
  </head>
  <body>
    <h1>Venue Tracker</h1>
    <ul>
      @foreach (var venues in Model)
    </ul>
    <h4><a href="/venues/new">Add new band</a></h4>
    <h4><a href="/venues/delete">Delete venues</a></h4>
  </body>
</html>
