<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Band Form</title>
  </head>
  <body>
    <h1>New Band</h1>
    <form action="/bands" method="post">
      <label for="bandsName">Band Name</label>
      <input id="bandsName" name="bandsName" type="text">
      <button type="submit">Add New Band</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/bands">Add New Band</a></p>
  </body>
</html>
