<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BandTracker</title>
  </head>
  <body>
    <h1>Band Tracker</h1>
    <ul>
      @foreach (var bands in Model)
    </ul>
  <h4><a href="/bands/new">Add new band</a></h4>
  <h4><a href="/bands/delete">Delete bands</a></h4>
  </body>
</html>
